{% extends "base.html" %}
{% block title %}SYNTEST — Speed Congruency Instructions{% endblock %}

{% block content %}
  <div class="card help" id="helpDialog" aria-labelledby="Testinstructions">
    <h2 class="card-title" id="helpTitle">Speed Congruency Test</h2>
    <p class="lead"> Instructions </p>
    <ul>
      <li>You will see a word</li>
      <li><b>Choose</b> the color that matches the word</li>
      <li>Response as <b>quickly</b> as possible</li>
      <li>Press <b>Next</b> to save each choice.</li>
    </ul>
    <div class="actions actions-center">
      <a href={{ url_for('speed_congruency_test')}} id="helpClose" class="btn btn-primary" type="button">Begin test</a> 
    </div></div>
{% endblock %}
