name: Biome Linter

on:
  pull_request:
    paths:
      - "src/**"

jobs:
  quality:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Fetch master branch
        run: git fetch origin main
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest
      - name: Run Biome
        run: biome ci --no-errors-on-unmatched --changed ./src
